<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.sale.dao.SaleBoardMapper">  
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">
		SELECT
		  COUNT(*)
		FROM sale_board b JOIN member m
		ON b.mem_num = m.mem_num
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					b.title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					m.id LIKE '%' || #{keyword} || '%' OR
					m.nickname LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					b.content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 4">
					b.title LIKE '%' || #{keyword} || '%' OR
					b.content LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>  	
  	</select>
  	<select id="selectList" parameterType="map" resultType="saleVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*, rownum rnum
  		      FROM (SELECT
  		              b.board_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(b.title,'<','&lt;'),'>','&gt;') title,
  		              ]]>
  		              b.hit,
  		              b.reg_date,
  		              b.mem_num,
  		              m.id,
  		              m.nickname
  		            FROM sale_board b JOIN member m
  		            ON b.mem_num = m.mem_num
  		            <where>
						<if test="keyword != null and keyword != ''">
							<if test="keyfield == 1">
								b.title LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 2">
								m.id LIKE '%' || #{keyword} || '%' OR
								m.nickname LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 3">
								b.content LIKE '%' || #{keyword} || '%'
							</if>
							<if test="keyfield == 4">
								b.title LIKE '%' || #{keyword} || '%' OR
								b.content LIKE '%' || #{keyword} || '%'
							</if>
						</if>
					</where> 
  		            ORDER BY b.board_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<!-- 글수정 -->
  	<update id="updateBoard" parameterType="saleVO">
  		UPDATE sale_board SET
  			title=#{title},
  			content=#{content},
  		    deadline=#{deadline},
  		    modify_date=SYSDATE
  		WHERE board_num=#{board_num}
  	</update>
  	<!-- 댓글 목록 -->
  	<select id="selectListReply" parameterType="map"
  	                    resultType="saleReplyVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              reply_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(reply_content,'<','&lt;'),'>','&gt;') reply_content,
  		              ]]>
  		              reply_date,
  		              reply_mdate,
  		              board_num,
  		              mem_num,
  		              id,
  		              nickname
  		            FROM sale_reply
  		            JOIN member USING(mem_num)
  		            WHERE board_num = #{board_num}
  		            ORDER BY reply_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
</mapper>







