<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<!-- 자체 회원가입 -->
	<insert id="insertMember_detail" parameterType="memberVO">
	INSERT INTO member_detail 
		(mem_num,passwd,name,phone,email,zipcode,addr1,addr2
			<if test="interest!=null and interest!=''">,interest</if>) 
	VALUES 
		(#{mem_num},#{passwd},#{name},REPLACE(#{phone},'-',''),#{email},#{zipcode},#{addr1},#{addr2}
		<if test="interest!=null and interest!=''">,#{interest}</if>)
	</insert>
	<!-- 카카오 회원가입 -->
	<insert id="insertKakaoMember" parameterType="memberVO">
	INSERT INTO member_detail 
		(mem_num,name,phone,email,zipcode,addr1,addr2,root
			<if test="interest!=null and interest!=''">,interest</if>) 
	VALUES 
		(#{mem_num},#{name},REPLACE(#{phone},'-',''),#{email},#{zipcode},#{addr1},#{addr2},2
		<if test="interest!=null and interest!=''">,#{interest}</if>)
	</insert>
	<!-- 네이버 회원가입 -->
	<insert id="insertNaverMember" parameterType="memberVO">
	INSERT INTO member_detail 
		(mem_num,name,phone,email,zipcode,addr1,addr2,root
			<if test="interest!=null and interest!=''">,interest</if>) 
	VALUES 
		(#{mem_num},#{name},REPLACE(#{phone},'-',''),#{email},#{zipcode},#{addr1},#{addr2},1
		<if test="interest!=null and interest!=''">,#{interest}</if>)
	</insert>
	
	<select id="selectRowCount" parameterType="map" resultType="integer">
  		SELECT
  			COUNT(*)
  		FROM member m LEFT OUTER JOIN member_detail d
  		ON m.mem_num=d.mem_num
  		<where>
  			<if test="keyword != null and keyword != ''">
  				<if test="keyfield == 1">
  					m.id LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					m.nickname LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 3">
  					d.email LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 4">
  					m.id LIKE '%' || #{keyword} || '%' OR
  					m.nickname LIKE '%' || #{keyword} || '%' OR
  					d.email LIKE '%' || #{keyword} || '%'
  				</if>
  			</if>
  		</where>
  	</select>
  	
  	<select id="selectList" parameterType="map" resultType="memberVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM member m LEFT OUTER JOIN member_detail d
  			  		ON m.mem_num=d.mem_num
  			  		<where>
			  			<if test="keyword != null and keyword != ''">
			  				<if test="keyfield == 1">
			  					m.id LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 2">
			  					m.nickname LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 3">
			  					d.email LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 4">
			  					m.id LIKE '%' || #{keyword} || '%' OR
			  					m.nickname LIKE '%' || #{keyword} || '%' OR
			  					d.email LIKE '%' || #{keyword} || '%'
			  				</if>
			  			</if>
  					</where>
  			  		ORDER BY d.reg_date DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<!-- =========통합검색========== -->
  	<select id="searchClubList" parameterType="string" resultType="clubVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM club_board
  			  		WHERE
			  			club_title LIKE '%' || #{keyword} || '%' OR
			  			club_content LIKE '%' || #{keyword} || '%'
  			  		ORDER BY club_reg_date DESC)a)
  	</select>
  	<select id="searchCommuList" parameterType="string" resultType="communityVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM community_board
  			  		WHERE
			  			commu_title LIKE '%' || #{keyword} || '%' OR
			  			commu_content LIKE '%' || #{keyword} || '%'
  			  		ORDER BY commu_date DESC)a)
  	</select>
  	<select id="searchRecipeList" parameterType="string" resultType="recipeVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM community_recipe_board
  			  		WHERE
			  			commu_title LIKE '%' || #{keyword} || '%' OR
			  			commu_content LIKE '%' || #{keyword} || '%'
  			  		ORDER BY commu_date DESC)a)
  	</select>
  	<select id="searchProductList" parameterType="string" resultType="productVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM product
  			  		WHERE
			  			title LIKE '%' || #{keyword} || '%' OR
			  			name LIKE '%' || #{keyword} || '%'
  			  		ORDER BY reg_date DESC)a)
  	</select>
  	<select id="searchSaleList" parameterType="string" resultType="saleVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM sale_board
  			  		WHERE
			  			title LIKE '%' || #{keyword} || '%' OR
			  			content LIKE '%' || #{keyword} || '%'
  			  		ORDER BY reg_date DESC)a)
  	</select>
  	<select id="searchUsedList" parameterType="string" resultType="usedVO">
  		SELECT
  			*
  		FROM (SELECT
  				a.*,
  				rownum rnum
  			  FROM (SELECT
  			  			*
  			  		FROM used_board
  			  		WHERE
			  			title LIKE '%' || #{keyword} || '%' OR
			  			content LIKE '%' || #{keyword} || '%'
  			  		ORDER BY reg_date DESC)a)
  	</select>
</mapper>