<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 어노테이션과 병행할경우 namespace를 dao(mapper.java)인터페이스 명칭과 맞춰야 함 -->
<mapper namespace="kr.spring.review.dao.ReviewMapper">  
	<insert id="insertReview" parameterType="ReviewVO">
		insert 
		into 
		product_review 
		(review_num, product_num,mem_num,score,
		<if test="content != null and content != ''">
			content,
		</if>
		reg_date
		)
		values(
			product_review_seq.nextval,
			#{product_num},#{mem_num},#{score},
			<if test="content != null and content != ''">
				#{content},
			</if>
			sysdate)
	</insert>
	
</mapper>























