<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.CommuBoardMapper">  

<!-- =======================유머 게시판 시작============================== -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		 FROM community_board b JOIN member m
		 ON b.mem_num = m.mem_num
		 <where>		 	 
		 	<if test="keyword != null and keyword != ''">
		 		<if test="keyfield == 1">
		 			b.commu_title LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			m.id LIKE '%' || #{keyword} || '%' OR
		 			m.nickname LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			b.commu_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 4">
		 			b.commu_title LIKE '%' || #{keyword} || '%' OR
		 			b.commu_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 	</if>
		 </where>
	</select>
	<select id="selectList" parameterType="map" resultType="communityVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		   b.commu_num,
			  		   <![CDATA[
			  		   REPLACE(REPLACE(b.commu_title,'<','&lt;'),'>','&gt;') commu_title,
			  		   ]]>
			  		   b.commu_code,
			  		   b.commu_hit,
			  		   b.commu_date,
			  		   b.mem_num,
			  		   m.id,
			  		   m.nickname
			  		FROM community_board b JOIN member m
			  		ON b.mem_num = m.mem_num
			  		 <where>			  		 
					 	<if test="keyword != null and keyword != ''">
					 		<if test="keyfield == 1">
					 			b.commu_title LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 2">
					 			m.id LIKE '%' || #{keyword} || '%' OR
					 			m.nickname LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 3">
					 			b.commu_content LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 4">
					 			b.commu_title LIKE '%' || #{keyword} || '%' OR
					 			b.commu_content LIKE '%' || #{keyword} || '%'
					 		</if>
					 	</if>
		 			</where>
			  		ORDER BY b.commu_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

 	<select id="commuSelectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		 FROM community_board b JOIN member m
		 ON b.mem_num = m.mem_num
		 <where> 
		 	<if test="keyfield != null and keyfield != ''">
				b.commu_code = #{keyfield}
		 	</if>
		 </where>
	</select>	

	<select id="commuSelectList" parameterType="map" resultType="communityVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		   b.commu_num,
			  		   <![CDATA[
			  		   REPLACE(REPLACE(b.commu_title,'<','&lt;'),'>','&gt;') commu_title,
			  		   ]]>
			  		   b.commu_code,
			  		   b.commu_hit,
			  		   b.commu_date,
			  		   b.mem_num,
			  		   m.id,
			  		   m.nickname
			  		FROM community_board b JOIN member m
			  		ON b.mem_num = m.mem_num
			  		 <where>
					 	<if test="keyfield != null and keyfield != ''">
							b.commu_code = #{keyfield}
					 	</if>
		 			</where>
			  		ORDER BY b.commu_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

	<!-- 글수정 -->
  	<update id="updateBoard" parameterType="communityVO">
  		UPDATE community_board SET
  			<if test="filename != ''">  <!-- 업로드가 되었을경우 파일명을 체크해서 존재할시 (파일명이 비어있지 않을경우) -->
  		    uploadfile=#{uploadfile},
  		    filename=#{filename},
  		    </if>	 
  			<if test="filename2 != ''">  <!-- 업로드가 되었을경우 파일명을 체크해서 존재할시 (파일명이 비어있지 않을경우) -->
  		    uploadfile2=#{uploadfile2},
  		    filename2=#{filename2},
  		    </if>	 
  			<if test="filename3 != ''">  <!-- 업로드가 되었을경우 파일명을 체크해서 존재할시 (파일명이 비어있지 않을경우) -->
  		    uploadfile3=#{uploadfile3},
  		    filename3=#{filename3},
  		    </if>	 

  			commu_title=#{commu_title},
  			commu_content=#{commu_content},
  		    commu_modify_date=SYSDATE
  		WHERE commu_num=#{commu_num}
  	</update>
	
	
  	<!-- 댓글 목록 -->
  	<!-- <를 &lt로 변환시켜서 변환된 문자열을 반환해주면 그중에서 
		  >를 &gt로 바꿔서 태그를 무력화 시켜준다. -->
  	<select id="selectListReply" parameterType="map"
  	                    resultType="communityReplyVO"> <!-- 여기부터 -->
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              reply_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(reply_content,'<','&lt;'),'>','&gt;') reply_content,
  		              ]]>
  		              reply_date,
  		              commu_num,
  		              mem_num,
  		              id,
  		              nickname
  		            FROM community_reply
  		            JOIN member USING(mem_num)
  		            WHERE commu_num = #{commu_num}
  		            ORDER BY reply_num DESC)a) 
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>	
	<!-- =======================유머 게시판 끝============================== -->
	
	<!-- =======================레시피 게시판 시작============================== -->
		<insert id="insertBoard2" parameterType="RecipeVO">
		INSERT INTO community_recipe_board 
				(commu_num,commu_title,commu_content,commu_content2,commu_content3,commu_content4,commu_content5,
				uploadfile,filename,uploadfile2,filename2,uploadfile3,filename3,uploadfile4,filename4,uploadfile5,filename5,uploadfile6,filename6,
				mem_num,commu_food,commu_ingredient,commu_level,commu_time) 
		VALUES (community_seq.nextval,#{commu_title},#{commu_content},#{commu_content2},#{commu_content3},#{commu_content4},#{commu_content5},
				#{uploadfile},#{filename},#{uploadfile2},#{filename2},#{uploadfile3},#{filename3},#{uploadfile4},#{filename4},#{uploadfile5},#{filename5},#{uploadfile6},#{filename6},
				#{mem_num},#{commu_food},#{commu_ingredient},#{commu_level},#{commu_time})
		</insert>
	

		<select id="selectRowCount2" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		 FROM community_recipe_board b JOIN member m
		 ON b.mem_num = m.mem_num
		 <where> 
		 	<if test="keyword != null and keyword != ''">

		 		<if test="keyfield == 1">
		 			b.commu_food LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			b.commu_title LIKE '%' || #{keyword} || '%' OR
		 			b.commu_food LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			b.commu_level LIKE '%' || #{keyword} || '%'
		 		</if>
		 	</if>
		 </where>
	</select>
	<select id="selectList2" parameterType="map" resultType="recipeVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		   b.commu_num,
			  		   <![CDATA[
			  		   REPLACE(REPLACE(b.commu_title,'<','&lt;'),'>','&gt;') commu_title,
			  		   ]]>
			  		   b.commu_hit,
			  		   b.commu_date,
			  		   b.mem_num,
			  		   b.commu_food,
			  		   b.commu_level,
			  		   b.commu_time,
			  		   m.id,
			  		   m.nickname
			  		FROM community_recipe_board b JOIN member m
			  		ON b.mem_num = m.mem_num
			  		 <where>
					 	<if test="keyword != null and keyword != ''">
		 		<if test="keyfield == 1">
		 			b.commu_food LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			b.commu_title LIKE '%' || #{keyword} || '%' OR
		 			b.commu_food LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			b.commu_level LIKE '%' || #{keyword} || '%'
		 		</if>
					 	</if>
		 			</where>
			  		ORDER BY b.commu_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 레시피글수정 -->
  	<update id="updateBoard2" parameterType="recipeVO">
  		UPDATE community_recipe_board SET
   			<if test="filename != ''">  <!-- 업로드가 되었을경우 파일명을 체크해서 존재할시 (파일명이 비어있지 않을경우) -->
  		    uploadfile=#{uploadfile},
  		    filename=#{filename},
  		    </if>	 
  			<if test="filename2 != ''">  
  		    uploadfile2=#{uploadfile2},
  		    filename2=#{filename2},
  		    </if>	 
  			<if test="filename3 != ''">  
  		    uploadfile3=#{uploadfile3},
  		    filename3=#{filename3},
  		    </if>	 
  			<if test="filename4 != ''">  
  		    uploadfile4=#{uploadfile4},
  		    filename4=#{filename4},
  		    </if>	 
  			<if test="filename5 != ''">  
  		    uploadfile5=#{uploadfile5},
  		    filename5=#{filename5},
  		    </if>	 
  			<if test="filename6 != ''">  
  		    uploadfile6=#{uploadfile6},
  		    filename6=#{filename6},
  		    </if>		 

  			commu_title=#{commu_title},
  			commu_food=#{commu_food},
  			commu_time=#{commu_time},
  			commu_ingredient=#{commu_ingredient},
  			commu_level=#{commu_level},
  			commu_content=#{commu_content},
  			commu_content2=#{commu_content2},
  			commu_content3=#{commu_content3},
  			commu_content4=#{commu_content4},
  			commu_content5=#{commu_content5},
  		    commu_modify_date=SYSDATE
  		WHERE commu_num=#{commu_num}
  	</update>
  	
  	<!-- 댓글 목록 -->
  	<!-- <를 &lt로 변환시켜서 변환된 문자열을 반환해주면 그중에서 
		  >를 &gt로 바꿔서 태그를 무력화 시켜준다. -->
  	<select id="selectListReply2" parameterType="map"
  	                    resultType="recipeReplyVO"> 
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              reply_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(reply_content,'<','&lt;'),'>','&gt;') reply_content,
  		              ]]>
  		              reply_date,
  		              commu_num,
  		              mem_num,
  		              id,
  		              nickname
  		            FROM community_recipe_reply
  		            JOIN member USING(mem_num)
  		            WHERE commu_num = #{commu_num}
  		            ORDER BY reply_num DESC)a) 
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>	  	
	<!-- =======================레시피 게시판 끝============================== -->
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>

