<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.CommuBoardMapper">  
<!-- 태그 변환 작업을 해준다. -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		 FROM community_board b JOIN member m
		 ON b.mem_num = m.mem_num
		 <where> <!-- 조건에 만족하면 where절이 생기고 아니면 안생김 (동적sql특징) -->
		 <!-- null아니고 비어있지않으면 검색한다 -->
		 	<if test="keyword != null and keyword != ''">
		 		<!-- keyfield가 1일경우 title에서 검색을한다. -->
		 		<!-- 앞뒤로 %를 넣어줘야 포함되어져있는걸 구한다. -->
		 		<if test="keyfield == 1">
		 			b.commu_title LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			m.id LIKE '%' || #{keyword} || '%' OR
		 			m.nickname LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			b.commu_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 4">
		 			b.commu_title LIKE '%' || #{keyword} || '%' OR
		 			b.commu_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 	</if>
		 </where>
	</select>
	<select id="selectList" parameterType="map" resultType="communityVO">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		   b.commu_num,
			  		   <![CDATA[
			  		   REPLACE(REPLACE(b.commu_title,'<','&lt;'),'>','&gt;') commu_title,
			  		   ]]>
			  		   b.commu_hit,
			  		   b.commu_date,
			  		   b.mem_num,
			  		   m.id,
			  		   m.nickname
			  		FROM community_board b JOIN member m
			  		ON b.mem_num = m.mem_num
			  		 <where>
					 <!-- null아니고 비어있지않으면 검색한다 -->
					 	<if test="keyword != null and keyword != ''">
					 		<if test="keyfield == 1">
					 			b.commu_title LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 2">
					 			m.id LIKE '%' || #{keyword} || '%' OR
					 			m.nickname LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 3">
					 			b.commu_content LIKE '%' || #{keyword} || '%'
					 		</if>
					 		<if test="keyfield == 4">
					 			b.commu_title LIKE '%' || #{keyword} || '%' OR
					 			b.commu_content LIKE '%' || #{keyword} || '%'
					 		</if>
					 	</if>
		 			</where>
			  		ORDER BY b.commu_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

	<!-- 글수정 -->
  	<update id="updateBoard" parameterType="communityVO">
  		UPDATE community_board SET
  			commu_title=#{commu_title},
  			commu_content=#{commu_content},
  		    commu_modify_date=SYSDATE
  		WHERE commu_num=#{commu_num}
  	</update>
	
	
	
</mapper>

