<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.club.dao.ClubMapper">  
  	<select id="selectRowCount" parameterType="map"
  	                    resultType="integer">
		SELECT
		  COUNT(*)
		FROM club_board
		<where>
			<if test="keyfield != null and keyfield != ''">
				club_code = #{keyfield}
			</if>
		</where>  	
  	</select>
  	<select id="selectList" parameterType="map"
  	                         resultType="ClubVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              b.club_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(b.club_title,'<','&lt;'),'>','&gt;') club_title,
  		              ]]>
  		              b.club_leader,
  		              b.club_date,
  		              b.club_reg_date,
  		              b.club_code,
  		              b.club_limit,
  		              b.club_pre,
  		              b.club_hit,
  		              b.club_gender,
  		              b.club_recruit,
  		              b.club_img,
  		              b.club_img_name,
  		              b.club_age,
  		              b.club_region,
  		              b.club_name,
  		              m.id,
  		              m.nickname
  		            FROM club_board b JOIN member m
  		            ON b.club_leader = m.mem_num
  		            <where>
						<if test="keyfield != null and keyfield != ''">
							b.club_code = #{keyfield}
						</if>
					</where>
  		            ORDER BY b.club_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<!-- 글수정 -->
  	<update id="updateBoard" parameterType="clubVO">
  		UPDATE club_board SET
  			club_title=#{club_title},
  			club_code=#{club_code},
  			club_content=#{club_content},
  			club_limit=#{club_limit},
  			club_name=#{club_name},
  			club_age=#{club_age},
  			club_gender=#{club_gender},
  			club_recruit=#{club_recruit},
  			club_date=#{club_date},
  			club_region=#{club_region},
  			<if test="club_img_name != ''">
  			club_img=#{club_img},
  			club_img_name=#{club_img_name}, 
  		    </if>
  		
  		    club_modify_date=SYSDATE
  		WHERE club_num=#{club_num}
  	</update>
  	
  	<!-- 댓글 목록 -->
  	<select id="selectListReply" parameterType="map"
  	                    resultType="clubReplyVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              reply_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(reply_content,'<','&lt;'),'>','&gt;') reply_content,
  		              ]]>
  		              reply_date,
  		              club_num,
  		              mem_num,
  		              nickname
  		            FROM club_reply
  		            JOIN member USING(mem_num)
  		            WHERE club_num = #{club_num}
  		            ORDER BY reply_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	  	<!-- 대댓글 목록 -->
  	<select id="selectListRereply" parameterType="map"
  	                    resultType="clubRereplyVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              rereply_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(rereply_content,'<','&lt;'),'>','&gt;') rereply_content,
  		              ]]>
  		              rereply_date,
  		              club_num,
  		              mem_num,
  		              reply_num,
  		              nickname
  		            FROM club_rereply
  		            JOIN member USING(mem_num)
  		            WHERE club_num = #{club_num}
  		            ORDER BY rereply_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
</mapper>







