<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 어노테이션과 병행할경우 namespace를 dao(mapper.java)인터페이스 명칭과 맞춰야 함 -->
<mapper namespace="kr.spring.cart.dao.CartMapper">  
	<select id="selectRowCount" parameterType="map" resultType="integer">
		select 
			count(*)
		FROM cart c LEFT OUTER 
  		            JOIN product p
  		            ON c.product_num = p.product_num 
		<where>
			mem_num = #{mem_num} 
			<if test="keyword != null and keyword !=''">
				and title like '%' || #{keyword} || '%'
			</if>
			<if test="keyfield != null and keyfield !=''">
				<if test="keyfield == 1">
					and c.status = 1
				</if>
				<if test="keyfield == 2">
					and c.status = 2
				</if>  
			</if>
		</where>
	</select>
	
	<select id="selectListCart" parameterType="map" resultType="cartVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT 
  		               *
  		            FROM cart c LEFT OUTER 
  		            JOIN product p 
  		            USING(product_num)
  		            <where>
						c.mem_num = #{mem_num} 
					<if test="keyword != null and keyword !=''">
						and p.title like '%' || #{keyword} || '%'
					</if>
					<if test="keyfield != null and keyfield !=''">
						<if test="keyfield == 1">
							and c.status = 1
						</if>
						<if test="keyfield == 2">
							and c.status = 2
						</if> 
					</if>
					</where>
  		            ORDER BY c.reg_date DESC)a) 
  	<![CDATA[
  	WHERE rnum >= #{start} AND rnum <= #{end}
  	]]>	            
  	</select>
	 
  	<select id="selectCart" parameterType="cartVO" resultType="cartVO">
  	select 
		cart_num,
		product_num,
		c.quantity,
		c.mem_num,
		c.reg_date,
		c.quantity*p.price2 sub_total
	from cart c join product p
	using(product_num) 
	where mem_num = #{mem_num} and product_num=#{product_num}
	order by c.reg_date 
	</select>
</mapper>























