div.page-main{
font-family: 'Poor Story', cursive;
}
table {
	
	border-top: 1px solid #444444;	
	font-size:x-large;
	padding: 30px;
	margin : 20px;
}
td {
	border-bottom: 1px solid #444444;
	padding: 10px;
	text-align: center;
}
.th-1 {
	text-align: center;
    width: 70px;
    padding: 30px;
    color: #f5d505;
  }
.th-2 {
    text-align: left;
    padding: 30px;
  }
.td-1 {
	text-align: center;
    width: 70px;
    padding: 30px;

  } 
  
ul.detail-info{
	font-size:large;
}  
ul.detail-info li{
	display: inline-block;
}