.page-main1{
	width:98%;
	margin:0 auto;
}
/* div.page-main1{
font-family: 'Poor Story', cursive;
} */
div.page-main1 table{
	
	border:none;
	font-size:medium;
	padding: 30px;
	margin-bottom : 0px;
}
table{
	border:none;
	padding: 10px;
}
/* table td {
	border-bottom: 1px solid #444444;
	padding: 10px;

} */
.page-main1 table td, .page-main1 table th{
	padding:7px;
}
/* clubboardList는 id로 스타일 지정 */
#th-1 {
	text-align: center;
    width: 100px;
    padding: 10px;
    color: #f5d505;
    border-bottom: 1px solid #808080;
  }
#th-2 {
	text-align: left;
    width: 400px;
    border-bottom: 1px solid #808080;
    color:#6C6039;
	font-size:large;
  }
#td-1 {
	text-align: center;
  } 
#td-2 {
    text-align: left;
    
  }
#td-3 {
    text-align: center;	
	border-bottom: 1px solid #808080;
  }
#td-4 {
    text-align: left;	
	border-bottom: 1px solid #808080;
  }      
#td_img{
	 text-align: center;	
	border-bottom: 1px solid #808080;
}
#th_clubname{
	text-align: center;
	font-size:x-large;
	border-bottom: 1px solid #808080;
	width: 400px;
	color:#E3BB3E;
}
/* clubboardView는 class로 스타일 지정 */
.th-3{
	border-bottom: 1px solid #808080;
	text-align: center;
	color: #f5d505;
	font-size:medium;
	width: 120px;
}
.th-4{
	border-bottom: 1px solid #808080;
	text-align: left;
	width: 900px;
	color:#6C6039;
	font-size:x-large;
}
.th-5{
	border-bottom: 1px solid #808080;
	text-align: left;
	color: #f5d505;
	font-size:medium;
	width: 1000px;
}
.td-1{
	text-align: center;
	 width: 120px;
}
.td-2{
	text-align: left;
	width:900px;	
}
.td-3 {
    text-align: center;	
	border-bottom: 1px solid #808080;
  }
.td-4 {
    text-align: left;	
	border-bottom: 1px solid #808080;
  } 
ul{
	list-style:none;
}
ul.detail-info{
	font-size:small;
}  
ul.detail-info li{
	display: inline-block;
}
ul.detail-info #img{
	margin:7px;
}
.page-main1 form{
	width:1000px;
	margin:0 auto;
	border:none;
	padding:10px 10px 10px 30px;
	font-size:medium;
	
}
/*CKEditor 사용시 등록,수정폼*/
.page-main form#register_form, .page-main form#update_form{
	width:1000px;
}
.page-main1 label{
	width:1000px;
	float:left;
	margin:10px
}
.page-main1 input[type="text"],.page-main input[type="password"],.page-main input[type="email"]{
	width:500px;
}
#img{
	margin:5px -8px;
}
.button{
/* 	font-family: 'Poor Story', cursive; */
	font-weight:bold;
	font-size:medium;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	margin:5px;
	background-color:#f5d505;
	color: white;
	border: none;
	overflow:hidden;
	transition: all 0.2s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius:80px;

}
.button2{
/* 	font-family: 'Poor Story', cursive; */
	font-weight:bold;
	font-size:medium;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	margin:5px;
	background-color:#f5d505;
	color: white;
	border: none;
	overflow:hidden;
	transition: all 0.2s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius:80px;
	width:300px;
	text-align: center;	
}
.button3{
/* 	font-family: 'Poor Story', cursive; */
	font-weight:bold;
	font-size:medium;
	padding:10px;
	margin:5px;
	color: black;
	border: none;
	overflow:hidden;
	border-radius:80px;
}
.textarea{
	border: 1px solid #444444;
	border-radius:10px;
}
.category-align{
	float:left;
}
.float-clear{
	clear:both;
}
.writebutton{
	text-align: center;	
	width:300px;
	height:100px;
}
/*댓글*/
.page-main1 div#reply_div{
	padding:15px 10px 40px 10px;
	margin-top:10px;
	background-color:#E8E8DA;
}
.page-main1 span.re-title{
	color:#513810;
	font-size:13pt;
	line-height:200%;
	margin: 0 auto;
	padding: 1px 0 10px 5px;
	float:left;
}
.replyicon{
	padding:5px 5px;
	float:left;
}
.page-main1 form#re_form{
	width:920px;
	border:none;
	margin:0
}
.page-main1 textarea.rep-content{
	width:98%;
	height:60px;
	resize:vertical;
}
.page-main1 textarea.rep-content2{
	width:90%;
	height:60px;
	resize:vertical;
}
.button9{
  width: 40px;
  height: 25px;
  border:0;
  background:#EABF5E;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.button9-align{
	margin-left:75px;
}
.item{
	margin:15px;
}
.nicknamemargin{
	margin:0 auto;
	padding: 8px 0 10px 10px;
	float:left;
}
.my-photo2{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
	margin: 0;
	float:left;
}
.sub-item{
	clear:both;
	padding: 5px 0 0 5px;
	font-size:15px;
}
.modify-date{
	clear:both;
	font-size:12px;
	float:right;
	margin:3px;
}
.delete-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.modify-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
  margin-right:3px;
}
#delete-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  margin-bottom:3px;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
#modify-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
  margin-right:3px;
  margin-bottom:3px;
}
.delete-btn2{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.modify-btn2{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
  margin-right:3px;
  margin-bottom:3px;
}

/* 답글쓰기버튼 */
.rereply-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#EABF5E;
  outline:0;
  border-radius: 6px;
  color:white;
  float:left;
  margin-bottom:5px;
}
/* 답글등록버튼 */
.rereply-btn2{
   width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  margin-bottom:3px;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
/* 답글취소버튼 */
.cancle-btn{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
  margin-right:3px;
  margin-bottom:3px;
}
.re-reset{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  margin-right:3px;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
   margin-bottom:3px;
}
.re-reset2{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  margin-right:3px;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
   margin-bottom:3px;
}
#mre_second{
	padding-left:65px;
}
#mre_form{
	width:920px;
	border:none;
	margin:0;
}

.cart-del {
	width: 40px;
	height: 25px;
	border: 0;
	background: #9B8F72;
	margin-right: 3px;
	outline: 0;
	border-radius: 6px;
	color: white;
	float: right;
	margin-bottom: 3px;
}
.nickname{
	text-align: right;
	font-size:small;	
}
/* .rereply-text{
	width: 500px;
	height: 25px;
} */
