div#page-main table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
div#page-main tr, th {
  border-bottom: 1px solid #444444;
  padding: 10px;
} 
#commuList_img{
	width:100px;
}
.image-align{
	width:90%;
	text-align:center;
	margin: 0 260px;
}
.search{
	margin-bottom: 30px;
	
}
#search_form{
	margin-left:262px;
}
.button{
	font-family: 'Dongle', sans-serif;
	font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	margin:5px;
	background-color:#f5d505;
	color: white;
	border: none;
	overflow:hidden;
	transition: all 0.2s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius:22px;
	cursor: pointer;
}
.button2{
	font-weight:bold;
	font-size:medium;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	margin:5px;
	background-color:#f5d505;
	color: white;
	border: none;
	overflow:hidden;
	transition: all 0.2s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius:80px;
	width:300px;
	text-align: center;	
}
.button5{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button4{
  width: 60px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.category-align{
	float:left;
	padding: 0 30px;
}
.commu-logo{
	padding: 0 0 10px 0;
}
#keyfield{
	width:80px;
	padding: 3px;
	border: 1.5px solid #878787;
	border-radius:5px;
}
#searchbar{
	border:1.5px solid #878787;
	border-radius: 5px;
	width:230px;
	height:27px;
}
.writebutton{
	text-align: center;	
	width:300px;
	height:115px;
	margin-bottom: 20px;
}






