#header-logo{
	float:left;
}
#logo{
	margin-left:-5px;
	padding-top:45px;
	padding-bottom:20px;
	float:left;
	height:60px;
}
.header-hr{
	width:100%;
	size:1px;
	background:#BDBDBD;
	height:1px;
	border:0;
	opacity:0.4;
}
#margin-bottom{
	padding-bottom:20px;
}

#total-search{
	position:relative;
	width:380px;
	height:60px;
	float:left;
	padding:60px 25px 0px 15px;
	vertical-align:middle;
}
#searchbtn{
	width:100%;
	border:1.5px solid #EABF5E;
	border-radius: 8px;
	padding: 10px 12px;
	font-size:14px;
	width:400px;
	float:left;
}
#searchicon{
	position:absolute;
	width:18px;
	top:66.5px;
	margin-left:-40px;
	cursor:pointer;
	border:none;
	background:none;
}
#cart{
	cursor : pointer;
	background:none;
	border:none;
	float:left;
	padding:65px 0px 0px 10px;
}
#background{
	background:none;
	border:none;
}
.location{
	clear:both;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:15px;
	font-size:15px;
	font-weight:bold;
	float:left;
	color: #303030;
}
.layout22{
	padding:52px 0px 0px 7px;
	font-size:medium;
	float:left;
}
.float-right{
	float:right;
	text-align:center;
	padding-top:-10px;
}
.text{
	float:left;
	font-size:15px;
	margin-left:15px;
	padding:69px 7px 0px 7px;
}
.category-margin{
	margin:0px 10px 0px 10px;
}
.float{
	float:left;
}
.header-line{
	width:70%;
	padding:20px 0;
}
hr {
    border: 0.5px solid #E3E7EB;
}
.nickname{
	font-size:18px;
	margin:9px 30px 10px 20px;
	float:right;
}
