.login-wrap ul{
	list-style:none;
}
.login-wrap{
	margin:0 auto;
	width:460px;
}
.logo{
	width:100%;
	overflow:hidden;
	margin-top:100px;
	padding:50px 0 30px 0px;
}
.logo-font{
	float:left;
	width:auto;
	display:flex;
}
.logo-font span{
	line-height:200px;
	font-size:4em;
	font-weight:bolder;
}
.logo-font .nona{
	color:#6b5f38;
}
.logo-font .saja{
	color:#9a800e;
}
.login-wrap ul{
	padding:0;
}
.inputs #id,#passwd{
	width:98%;
	height:50px;
}
.inputs #id{
	margin:0 0 5px 5px;
}
.inputs #passwd{
	margin:5px 0 5px 5px;
}
.float-right{
	float:right;
}
.clear{
	clear:both;
}
.login-btn{
	background-color:#bc8b0e;
	width:100%;
	height:50px;
	display:flex;
	margin-top:20px;
	cursor:pointer;
}
input[type="submit"]{
	border:none;
	color:white;
	background-color:#bc8b0e;
	font-size:1.5em;
	line-height:20px;
	width:100%;
	height:100%;
	cursor:pointer;
}
.snsLogin{
	width:100%;
	margin-top:20px;
	padding: 0 0 80px 0;
}
.snsLogin a#naver{
	margin-right:10px;
	margin-left:5px;
}
