/*=====별점 스타일=======*/
.rating{
   /*현재 디자인에서만 필요하고 다른 디자인일 경우는 필요하지 않음*/
   display:inline-block;
   width:auto;   
}
.rating .rate-check {
   display:none;
   
}
.rating .rate-check + label {
	display:inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate-check:checked + label {
    background-color: #fce803;
}
.rec-star {
   width: 15px;
    height: 15px;
    background-color: #fce803;
}
#star_btn{
	border: none;
	font-size: 8.5pt;
}
.button5{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button4{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button8{
  width: 70px;
  height: 25px;
  border:0;
  background:#EABF5E;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button50{
  width: 95px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:left;
}
.button41{
  width: 65px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.margintext{
  padding-left:15px;
}