.mypage-wrap ul{
	list-style:none;
}
.mypage-wrap{
	margin:100px 50px 30px 50px;
	padding:0;
	width:auto;
	height:auto;
	overflow:hidden;
}
.mypage-left{
	margin-left:25px;
	padding-right:10px;
	width:25%;
	height:auto;
	float:left;
	font-family:sans-serif, fantasy;
	font-weight:bold;
}
li#nick{
	font-size:1.5em;
	width:auto;
}
li#nick span{
	width:auto;
}
li#money{
	margin-top:30px;
	margin-bottom:5px;
}
.mypage-left ul:first-child li:not(:first-child){
	padding-left:40px;
	line-height:2em;
}
.mypage-left ul:not(:first-child){
	padding-left:82px;
	line-height:2em;
}
.mypage-wrap img.my-photo{
	border:1px solid black;
	border-radius:70%;
}
.mypage-right{
	padding-left:100px;
	width:60%;
	height:auto;
	float:right;
}
.mypage-right table{
	width:100%;
}
#money-title,#money-current{
	font-weight:bold;
	font-size:1.1em;
}
.mypage-right table tr:not(:first-child){
	height:50px;
}
.mypage-right table tr:last-child td div{
	width:auto;
	margin:0 auto;
}
.button9{
  width: 40px;
  height: 25px;
  border:0;
  background:#EABF5E;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
} 
.button90{
  width: 120px;
  height: 25px;
  border:0;
  background:#EABF5E;
  outline:0;
  border-radius: 6px;
  color:white;
} 
.location1{
	margin-top:10px;
	width:"350";
}
input[type=file]::file-selector-button, #photo_submit, #photo_reset {
  width: 65px;
  height: 23px;
  background: #EABF5E;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}
#photo_choice1{
	margin-top:5px;
}
.mypage-left a{
	text-decoration:none;
	color:gray;
}
.mypage-right table tr:last-child td div a{
	text-decoration:none;
	color:white;
}
.mypage-right table tr th{
	border-bottom:5px solid black;
	text-align:left;
}
.float-clear{
	clear:both;
}
#kpay_btn{
	background-color:#5d5d5d;
	color:white;
	border:1px solid #5d5d5d;
	border-radius:3px;
	cursor:pointer;
}
.button3{
  width: 100px;
  height: 22px;
  border:0;
  background:#EABF5E;
  font-size:14px;
  outline:0;
  color:white;
  border-radius:6px;
}
.button2{
  width: 40px;
  height: 30px;
  border:0;
  background:#9B8F72;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}
.button20{
  width: 80px;
  height: 30px;
  border:0;
  background:#9B8F72;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button1{
  width: 80px;
  height: 30px;
  border:0;
  background:#474233;
  color:#fff;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}
#kpay_btn{
	width:100px;
}
.align-left1{
	margin:20px 0px;
}
.my-photo1{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
	margin-left:5px;
}
.float-profile{
	padding:20px;
}
.button4{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button444{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.club-status{
	width:100px;
	
}
