/*=========메인페이지 슬라이드*/
/** {box-sizing: border-box;} */
.mySlides {display: none;}
.slide-img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 40px 0 40px 0;;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*======메인 페이지=-==============*/
#middle_text{
	font-size: 12pt;
    text-align: center;
    font-style: italic;
    font-weight: 550;
    color: #6C6039;
}
#list_btn{
	margin: 50px;
    background-color: #C2AC66;
    height: 40px;
    width: 200px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 11pt;
}
/*========상품 목록=========*/
#category{
	font-size: 30pt;
}
.category-txt{
	float: left;
    width: 15%;
    margin: 0 0 0 5%;
}
.category-img{
	float: right;
    width: 38%;
    margin: 0 5px 40px 5px;
}
.hr-color{
	background-color: #f5f0e1;
    height: 2px;
    border: none;
}
div#category_box{
	margin: 40px 0 40px 0;
}
#search_form_box{
	clear:both;
}
#search_form{
	margin: 0;
}
div.product-space{
	padding: 0 0 0 10px;
}
.horizontal-area{
	margin: 0 0 30px 0;
    /* padding: 3px; */
    width: 25%;
    float: left;
    overflow: hidden;
}
.horizontal-area span{
	display: inline-block;
	margin: 0 0 5px 0;
}
#product_main{
	padding: 0 0 0 25px;
}
.view-img2{
	width: 75%;
    height: 180px;
    margin: 10px 0 30px 0;
}
.view-img{
	width: 90%;
    height: 220px;
    margin: 10px 0 30px 0;
}
.float-clear{
	clear:both;
}
#title{
	font-size: 12pt;
	width: 220px;
}
#title2{
	font-size: 12pt;
	width: 180px;
}
#price{
	font-size: 15pt;
	font-weight: bold;
	color: #5E5432;
}
#req{
	font-size: 11pt;
	font-weight: bold;
	color: #BD911E;
}

/**/
select{
	width:80px;
	padding: 3px;
	border: 1.5px solid #878787;
	border-radius:5px;
}
#searchbar{
	border: 1.5px solid #878787;
    border-radius: 5px;
    width: 300px;
    height: 27px;
}
.page-main ul.search-align{
	list-style:none;
	padding:0;
	margin:0 10px 0 0;
	float:right;
}
.page-main ul.search-align li{
	margin: 0 0 9px 0;
	padding:0;
	display:inline;
}
.page-main form#search_form1{
	border: none;
    margin: 0 30px 20px 0;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}
.button5{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button4{
  width: 60px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}









