.recipe-img{
	width: 33%;
	
}
.recipe-img2{
	width: 20%;
	margin-right: 50px;
}
#recipe_write input[type=file]::file-selector-button{
	background: #ded597;
	border: none;
	height: 25px;
	border-radius: 6px;
}
#recipe_write input[type=file]{
	float: left;
}
#recipe_upload{
	margin-bottom: 50px;
} 
#recipe_write ul{
	list-style: none;
	padding: 0;
}
#recipe_write input[type=file]{
	margin: 0 0 10px 0;
}
.input_box_title{
	margin-left: 42px;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.input_box_food{
	margin-left: 29px;
	width: 20%;
	margin-bottom: 20px;
}
.input_box_time{
	margin-left: 12px;
	width: 10%;
	margin-bottom: 20px;
}
.input_box_ingredient{
	margin-left: 12px;
	width: 70%;
	margin-bottom: 20px;
}
#recipe_write input{
	border-radius: 5px;
    border-color: #adadad;
}
.title_upload{
	font-weight: 700;
}
#recipe_textarea{
	margin-bottom: 70px;
}
#guide_font{
	font-size: 20px;	
}
#guide_span{
	margin-left: 10px;
	font-size: 12px;
	opacity: 0.4;
}
#guide_li{
	margin-bottom: 12px;
}
.button{
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	margin:5px;
	background-color:#f5d505;
	color: white;
	border: none;
	overflow:hidden;
	transition: all 0.2s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius:22px;
	cursor: pointer;
}

#region_num{
	border-radius: 5px;
	opacity: 0.4;
}
.button2{
  width: 40px;
  height: 30px;
  border:0;
  background:#EABF5E;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}
.button1{
  width: 40px;
  height: 30px;
  border:0;
  background:#474233;
  color:#fff;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}


