.item-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:300px;
	height:420px;
	float:left;
	overflow:hidden;
	text-align:center;
}
/* .item-space .horizontal-area img{
	width:295px;
	height:275px;
} */
#recipeList_food {
	width:295px;
	height:275px;
}
.item-space .horizontal-area span{
	padding:5px;
	margin:5px;
}
.item-space .float-clear{
	clear:both;
}

.item-detail li{
	padding:0 0 5px 0;
}
.item-detail form{
	border:none;
}
#item_total_txt{
	color:#000;
	font-weight:bold;
}
.quantity-width{
	width:40px;
	margin-bottom:3px;
}
.sold-out{
	color:red;
}
#recipeList_level{
	width:15px;
}
#recipeList_time{
}
#level{
	margin-top: 12px;
	opacity: 0.5;
}