@charset "UTF-8";
/*=====별점 스타일=======*/
.rating{
   /*현재 디자인에서만 필요하고 다른 디자인일 경우는 필요하지 않음*/
   display:inline-block;
   width:500px;   
}
.rating .rate-check {
   display:none;
   
}
.rating .rate-check + label {
	display:inline-block;
    width: 42px;
    height: 42px;
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-size: 43px 43px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate-check:checked + label {
    background-color: #fce803;
}
.rec-star {
   width: 15px;
    height: 15px;
    background-color: #fce803;
}
#star_btn{
	border: none;
	font-size: 8.5pt;
}
.review-wrap{
	margin:0 auto;
	width: 85%;
}
ul{
	list-style:none;
}
#product_box{
	width:auto;
}
.left{
	float: left;
}
#product_name{
	font-size: 15pt;
    font-weight: bold;
}
#product_title{
	font-size: 11pt;
    font-weight: bold;
}
#product_reg_date{
	font-weight: bold;
    font-size: 11pt;
}
#product_data{
	margin: 0 0 0 30px;
	width: 70%;
}
#score{
	width: 250px;
}
#content{
	width: 850px;
    margin: 40px 0 10px 0;
}
.clear{
	clear:both;
}
.right{
	float: right;
}
#btn1{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  margin: 0 7px;
}
#btn2{
	width: 65px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
#review_content{
	font-size: 11pt;
}








