/*중고거래 글쓰기*/
ul.ul-text li{
	font-size:18px;
	list-style:none;
}
ul.radio-button li{
	font-size:13px;
	list-style:none;
}
.float_image{
	width:38%;
	float:left;
}
.float_text{
	width:60%;
	float:left;
}
.location2{
	clear:both;
	padding-top:30px;
}
.input-box{
	margin-left:12.5%;
	width:70%;
}
.input-box1{
	margin-left:7%;
	width:70%;
}
.input-box2{
	margin-right:4%;
}
.down{
	margin-top:10px;
}
.location1{
	margin-top:10px;
	width:"350";
}

.button2{
  width: 40px;
  height: 30px;
  border:0;
  background:#EABF5E;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}
.button1{
  width: 40px;
  height: 30px;
  border:0;
  background:#474233;
  color:#fff;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
  border-radius: 6px;
}
input[type=file]::file-selector-button {
  width: 65px;
  height: 23px;
  background: #EABF5E;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}

/*중고거래 목록*/
select{
	width:80px;
	padding: 3px;
	border: 1.5px solid #878787;
	border-radius:5px;
}
span{
	font-size:16px;
	line-height:30px;
}
.item-space .horizontal-area{
	margin:2px;
	padding:3px;
	width:280px;
	height:350px;
	float:left;
	overflow:hidden;
}
#usedproduct_photo {
	width:270px;
	height:230px;
	padding: 7px;
	border-radius:10%;
}
.item-space .horizontal-area span{
	padding:5px;
	margin:5px;
}
.item-space .float-clear{
	clear:both;
}
.item-space{
	padding:0 30px;
}
.text-align-center{
	text-align:center;
}
.status-img-float{
	float:left;
	padding:0 10px;
}
.status-img-float1{
	float:left;
	padding: 0 -10px;
}
.float-clear{
	clear:both;
}
#searchbar{
	border:1.5px solid #878787;
	border-radius: 5px;
	width:240px;
	height:27px;
}
.page-main ul.search-align{
	list-style:none;
	padding:0 0 60px 0;
	margin:0 0px 0 20px;
}
.page-main ul.search-align li{
	margin: 0 0 9px 0;
	padding:0;
	display:inline;
}
.page-main form#search_form1{
	border: none;
	box-sizing: border-box;
	text-align:center;
	
}
.image-align{
	width:90%;
	text-align:center;
	margin: 0 250px;
	padding: 0 0 30px 0;
}
.category-align{
	float:left;
}
#usedList_img{
	padding: 0 40px 10px 40px;
	width:100px;
}
figure{
	margin:0 auto;
}
.writebutton{
	width:300px;
	height:100px;
	padding: 0px 0 10px 370px;
}

.button5{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button4{
  width: 65px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button3{
  width: 250px;
  height: 60px;
  border:0;
  background:#EABF5E;
  font-size:30px;
  outline:0;
  border-radius: 20px;
  color:white;
}
.result-display1{
	font-size:large;
	width:400px;
	height:200px;
	margin:50px auto;/*상하 좌우*/
	border:none;/*테두리*/
	display: flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
  	align-items: center;/*세로 정렬*/
  	justify-content: center;/*가로 정렬*/
}

/*중고거래 글상세*/
h2{
	margin:-3px 0 0 18px;
}

.fav-float{
	float:right;
}
.fav-align{
	padding:2px;
}
#fav-text-align{
	padding: -10px 20px 0 0;
	font-size:15px;
	font-size:medium;
	text-align:center;
	margin:0;
}
.userwriteinformation{
	padding:2px 5px 0 10px;
	float:right;
	text-align:right;
}
.userinformation{
	float:left;
	padding:20px 0 10px 20px;
	margin-top:10px;
	font-size:16px;
}
.userphoto{
	float:left;
	padding:20px 0 10px 20px;
	margin:0;
}
.my-photo1{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
	margin: 0;
}
.statuskind-float{
	float:left;
	margin-bottom:8px;
}
.mainphoto-align{
	float:left;
	padding: 20px 40px 20px 10px;
}
.mainphoto-size{
	width:300px;
	height:250px;
}
.text-1{
	font-size:15px;
	margin:10px 0 10px 0;
	
}
.text-price{
	font-size:17px;
	margin:0;
}
.product-info-align{
	padding: 60px 0 0 0 ;
}
.used-content{
	clear:both;
	padding:10px 0 10px 60px;
	font-size:15px;
}
.usedproduct-simple{
	padding:0 30px;
}
.button6{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button7{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button8{
  width: 40px;
  height: 25px;
  border:0;
  background:#EABF5E;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
}
.button-align{
	clear:both;
	float:right;
	padding:10px 0;
}
.button-align1{
	padding:45px 0 20px 0;
}
/*댓글*/
.page-main div#reply_div1{
	padding:15px 10px 40px 10px;
	margin-top:10px;
	background-color:#E8E8DA;
}
.page-main span.re-title1{
	color:#513810;
	font-size:13pt;
	line-height:200%;
	margin: 0 auto;
	padding: 1px 0 10px 5px;
	float:left;
}
.replyicon{
	padding:5px 5px;
	float:left;
}
.page-main form#re_form1{
	width:920px;
	border:none;
	margin:0
}
.page-main textarea.rep-content1{
	width:98%;
	height:60px;
	resize:vertical;
}
.button9{
  width: 40px;
  height: 25px;
  border:0;
  background:#EABF5E;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.button9-align{
	margin-left:75px;
}
.item{
	margin:15px;
}
.nicknamemargin{
	margin:0 auto;
	padding: 8px 0 10px 10px;
	float:left;
}
.my-photo2{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
	margin: 0;
	float:left;
}
.sub-item{
	clear:both;
	padding: 5px 0 0 5px;
	font-size:15px;
}
.modify-date{
	clear:both;
	font-size:12px;
	float:right;
}
.button10{
  width: 40px;
  height: 25px;
  border:0;
  background:#9B8F72;
  margin-right:3px;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.button11{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  position:relative;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
}
.re-reset{
  width: 40px;
  height: 25px;
  border:0;
  background:#665E4D;
  outline:0;
  border-radius: 6px;
  color:white;
  float:right;
  margin-right:3px;
}
#mre_second{
	padding-left:65px;
}
#mre_form{
	width:920px;
	border:none;
	margin:0;
}
